.desafio1 {
    color: orange;
    font-family: 'Times New Roman', Times, serif;
 }

 #lista1 ol{
    list-style-type:georgian;
    color: #1c37e1;
    background-color: rgb(246, 156, 179);
}

#lista2 ul{
    list-style-type:lower-roman;
    color: #1c37e1;
    background-color: rgb(246, 156, 179);
}